<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
    <title>Form</title>
    <style>
      .avatar {
        vertical-align: middle;
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }
      .container{
        display: flex;
        height: 90vh;
        justify-content: center;
        flex-direction: column;
        padding: 5vh !important;
      }

      .row{
        min-height: 100px;
      }
    </style>
</head>
<body style="padding: 4vh;">
  <div class="container shadow-lg">
    <h2>
      Formulario
    </h2>
    <img src="yo.jpg" alt="Foto de perfil" style="width:500px;height:600px; margin:center">
      <p>{{reverse}}</p> 
      
    </div>

</body>
</html>